body{
    font-family: 'Roboto',Arial (sans-serif);
}

.navbar-brand img{
    width: 50px;
}
/* 
table .btn{
    font-size: .8em;
} */


.ca .row, .ca select{
    font-weight: bold;
}
.ca .checkbox-font{
    font-weight: normal;
}